In [1]:
import pandas as pd

control = pd.read_csv("control_group.csv")
control.head()

  person_id  recovery_time_hrs
0      C001                4.4
1      C002                4.1
2      C003                3.2
3      C004                4.3
4      C005                4.9

In [2]:
test = pd.read_csv("test_group.csv")
test.head()

  person_id  recovery_time_hrs
0      T001                3.7
1      T002                4.1
2      T003                3.7
3      T004                3.9
4      T005                3.7

In [9]:
# CONTROL-GROUP (REQUIREMENTS)

control_mean = control.recovery_time_hrs.mean()
control_std = control.recovery_time_hrs.std()
control_sample_SIZE = control.shape[0]

control_mean, control_std, control_sample_SIZE

(4.000769230769231, 0.4795825306420973, 130)

In [21]:
# TEST-GROUP (REQUIREMENTS)

test_mean = test.recovery_time_hrs.mean()
test_std = test.recovery_time_hrs.std()
test_sample_SIZE = test.shape[0]

test_mean, test_std, test_sample_SIZE

(3.9119999999999995, 0.3156778821085274, 100)

## We have to find out the collective z-score of both the samples so :

In [24]:
# Step 1: Calculate the variance for each group (std^2 / sample_size)
variance_control = (control_std ** 2) / control_sample_SIZE
variance_test = (test_std ** 2) / test_sample_SIZE

# Step 2: Add the variances
combined_variance = variance_control + variance_test

# Step 3: Take the square root to get the combined standard error
combined_standard_error_correct = np.sqrt(combined_variance)

# Step 4: Calculate the Z-score using the correct combined standard error
Z_score = (control_mean - test_mean) / combined_standard_error_correct
Z_score

1.6879356404645995

In [26]:
from scipy import stats as st

# For a significance level of 5% (0.05) in a right-tailed test, the critical Z-value is approximately 1.645

alpha = 0.05 # significance level of 5%

z_crit = st.norm.ppf(1 - alpha)
z_crit

1.644853626951472

In [ ]:
# if the [z_score > z_crit] then sample is lying in rejection region so we reject the null hypothesis

In [27]:
Z_score > z_crit

True

In [35]:
# Calculate the p-value corresponding to z score for a right-tailed test

p_value = 1 - st.norm.cdf(Z_score)
p_value

0.045711792064650814

In [29]:
p_value < alpha # p value is less than significance level of 5% (or 0.05 for absolute value)

True