In [2]:
import pandas as pd

df_sample = pd.read_csv('house_price_increase.csv') 
df_sample.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [8]:
n = df_sample.shape[0]
df_sample.shape

(100, 2)

In [4]:
# HARD-CODED POPULATION [MEAN, STD]:

population_mean = 10
population_std_dev = 4

In [5]:
sample_mean = df_sample.price_increase_pct.mean()
sample_mean

11.0

import numpy as np

standard_error = population_std_dev/np.sqrt(n)
standard_error

In [10]:
z_score = (sample_mean - population_mean)/standard_error
z_score

2.5

In [11]:
# suppose significance level alpha == 0.05 means 95% [probability %]

alpha = 0.05

In [13]:
from scipy import stats

z_critical = stats.norm.ppf(1-alpha)
z_critical, z_score

(1.644853626951472, 2.5)

In [ ]:
# so as we can see our [z_score > z_critical] means s-score falls under the rejection region so we will Null hypothesis [govt 10% inflation]
# and we will accept Alternative Hypothesis(Ha)

## Z Test Using p-Value

In [23]:
from scipy import stats

percentage = stats.norm.cdf(z_score)
percentage

0.9937903346742238

In [24]:
p_value = 1 - percentage
p_value

0.006209665325776159

In [19]:
p_value, alpha

(0.006209665325776159, 0.05)